*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:var(--color--black--) ;
    font-family: 'Montserrat';
}
h1{
    font-size: 58px;
}
h2{
    font-size: 40px;
}
.p-problems{
    margin-top: 10px;
    color: var(--light--text--white);
}


:root{
    --primary--color--blue:#23A6F0;
    --light--color--white:#F2F2F2;
    --light--text--white:#FFFFFF;
    --second--neutral--white:#F9F9F9;
    --text--color--grey:#737373;
    --muted--grey--color:#BDBDBD;
    --color--neutral--grey:#DDDDDD;
    --color--border--grey:#E6E6E6;
    --color--yellow:#F3CD03;
    --color--light--blue:#8EC2F2;
    --color--black--:#252B42;

    --font--family--bold:'Montserrat Bold';
    --font--family--regular:'Montserrat Regular';
    --font--family--semibold:'Montserrat SemiBold';
    --font--family--extrabold:'Montserrat ExtraBold';
    --font-family--medium:'Montserrat Medium';

 

    --font--size--p:14px;
    --font--size--h3:24px;
    
}