@import url(./global.css);

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--light--text--white);
    padding: 30px 15px;
    margin: 0px 263px 40px 263px;
    gap:120px;
}
.nav-header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 21px;
}
.nav-header a {
    text-decoration: none;
    color: var(--light--text--white);
}
.buttons-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.btn-joinUs{
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: var( --primary--color--blue);
    color: var(--light--text--white);
    font-size: var(--font--size--p);
    padding: 15px 25px;
    width: 220px;
    border-radius: 5px;
}
.buttons-header a{
    text-decoration: none;
    color: var(--light--text--white);
}
.active{
    color: var(--text--color--grey);
}
.buttons-main{
    text-transform: capitalize;
}
/* FIM DO HEADER */

/* COMEÇO DO MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 157.08px 20px 157px;
}

.main-content{
    padding: 111px 0px
}
.main-content h1{
    color: var(--light--text--white);
    margin-bottom: 35px;
    font-weight: 900;
    width: 525px;

}
.main-content p{
    color: var(--light--text--white);
    font-size: 20px;
    font-family: var( --font-family--medium);
    width: 320px;
    margin-bottom: 35px;
    font-family: var( --font-family--medium);
}
.buttons-main{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    
}
.btn-get-quote{
    background-color: var( --primary--color--blue);
    color: var(--light--text--white);
    font-size: var(--font--size--p);
    padding: 15px 36px;
    border-radius:37px;
}
.btn-learn-more{
    background: none;
    color: var(--light--text--white);
    border: 1px solid var(--light--text--white);
    border-radius: 37px;
    padding: 15px 36px;
}