@import url(./global.css);

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--light--text--white);
    padding: 30px 15px;
    margin: 0px 263px 40px 263px;
    gap:120px;
}
.nav-header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 21px;
}
.nav-header a {
    text-decoration: none;
    color: var(--light--text--white);
}
.buttons-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.btn-joinUs{
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: var( --primary--color--blue);
    color: var(--light--text--white);
    font-size: var(--font--size--p);
    padding: 15px 25px;
    width: 220px;
    border-radius: 5px;
}
.buttons-header a{
    text-decoration: none;
    color: var(--light--text--white);
}
.active{
    color: var(--text--color--grey);
}
.buttons-main{
    text-transform: capitalize;
}
/* FIM DO HEADER */

/* COMEÇO DO MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 157.08px 20px 157px;
}

.main-content{
    padding: 111px 0px
}
.main-content h1{
    color: var(--light--text--white);
    margin-bottom: 35px;
    font-weight: 900;
    width: 525px;

}
.main-content p{
    color: var(--light--text--white);
    font-size: 20px;
    font-family: var( --font-family--medium);
    width: 320px;
    margin-bottom: 35px;
    font-family: var( --font-family--medium);
}
.buttons-main{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    
}
.btn-get-quote{
    background-color: var( --primary--color--blue);
    color: var(--light--text--white);
    font-size: var(--font--size--p);
    padding: 15px 36px;
    border-radius:37px;
}
.btn-learn-more{
    background: none;
    color: var(--light--text--white);
    border: 1px solid var(--light--text--white);
    border-radius: 37px;
    padding: 15px 36px;
}
/* FIM DO MAIN */

/* COMEÇO DA SECTION BETTER-STATEGY */
.better-stategy{
    margin: 0px 231px 30px 231px;
}
.better-strategy-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 180.5px;
    margin-bottom: 24px;
}
.better-strategy-content h2{
    color: var(--light--text--white);
    width: 451px;
    text-transform: capitalize;
}
.better-strategy-content p{
    color: var( --text--color--grey);
    margin-top: 10px;

}
.better-stategy-blocks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.statety-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--light--text--white);
    padding: 35px 20px;
    border-radius: 2px;

}
.block-content{
    color: var(--light--text--white);
}
.block-content h3{
    margin-bottom: 5px;
    font-size: 16px;
}
.block-content p{
    width: 213px;
}
/* FIM DA SECTION BETTER-STATEGY */

/* COMEÇO DA SECTION COMENTS */

.comments{
    display: flex;
    flex-direction:column ;
    align-items: center;
    margin: 0px 265px 112px 195px;
}
.coments-container{
    padding: 80px 0px;
}
.clients-say-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
.clients-say-content h2{
    color: var(--light--text--white);
    width: 451px;
    text-transform: capitalize;
}
.coments-content{
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 35px;
    width: 744px;
    margin-top: 80px;
    background-color: var(--light--text--white);
    border-radius: 5px;
}
.coments-img{
    margin-bottom: 30px;

}
.coments-content p{
    color: var(--text--color--grey);
    font-size: var(--font--size--p);
    width: 433px;
    margin-bottom: 15px;
}
.coments-estrelinhas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px
}
.coments-content h3{
    font-size: var( --font--size--h3);
    color: var(  --color--black--);
    margin-bottom: 8px;
}
.coments-content h4{
    color: var(--text--color--grey);
    font-size: var(--font--size--p);
    font-weight:600;
}
/* FIM DA COMENTS SECTION */

/* COMEÇO DA DOWNLOAD ARTICLE */
.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 231px 80px 231px;
}

.download-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    padding: 80px 221.5px 0px 221.5px;
}
.download-content h2{
    color: var(--light--text--white);
    width: 451px;
    text-transform: capitalize;
}
.download-options{
    display: grid;
    grid-template-columns: repeat(4,1fr);        
    /* grid-template-columns: 1fr;           */
    gap: 10px;
    padding:0px 51.5px 60px 51.5px;
}
.download-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 18px 28px;
    width: 214px;
    border: 1px solid var(--light--text--white);
    border-radius: 10px;    
    color: var(--light--text--white);
}
.card-content p{
  font-weight: 600;
  margin-bottom: 5px;
}
/* FIM DA DOWNLOAD ARTICLE */

/* COMEÇO DA PRICING */
.pricing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 160px 208.5px 96px 208.5px;
}
.pricing-content h2{
    color: var(--light--text--white);
}
.pricing-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light--text--white);
    gap: 30px;
    width: 511px;
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
}
.card-pricing-content h3{
    color: var(--primary--color--blue);
    font-size: var(--font--size--h3);
    text-transform: uppercase;
    margin-bottom: 15px;
}
.card-pricing-content p{
    color: var(--text--color--grey);
    font-size: var(--font--size--p);
    width: 217px;
}
.card-price {
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.card-price h4{
    color: var(--primary--color--blue);
  
    font-weight: 700;
    font-size: 40px;
}
.card-value{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.card-value p:nth-child(1){
    color: var(--primary--color--blue);
    font-weight: 700;
    font-size: 16px;
}
.card-value p:nth-child(2){
    color: var(--color--light--blue);
    font-size: var(--font--size--p)

}