@import url(./global.css);

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--light--text--white);
    padding: 30px 15px;
    margin: 0px 263px 40px 263px;
    gap:120px;
}
.nav-header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 21px;
}
.nav-header a {
    text-decoration: none;
    color: var(--light--text--white);
}
.buttons-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.btn-joinUs{
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: var( --primary--color--blue);
    color: var(--light--text--white);
    font-size: var(--font--size--p);
    padding: 15px 25px;
    width: 220px;
    border-radius: 5px;
}
.buttons-header a{
    text-decoration: none;
    color: var(--light--text--white);
}
.active{
    color: var(--text--color--grey);
}
.buttons-main{
    text-transform: capitalize;
}
/* FIM DO HEADER */

/* COMEÇO DO MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 157.08px 20px 157px;
}

.main-content{
    padding: 111px 0px
}
.main-content h1{
    color: var(--light--text--white);
    margin-bottom: 35px;
    font-weight: 900;
    width: 525px;

}
.main-content p{
    color: var(--light--text--white);
    font-size: 20px;
    font-family: var( --font-family--medium);
    width: 320px;
    margin-bottom: 35px;
    font-family: var( --font-family--medium);
}
.buttons-main{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    
}
.btn-get-quote{
    background-color: var( --primary--color--blue);
    color: var(--light--text--white);
    font-size: var(--font--size--p);
    padding: 15px 36px;
    border-radius:37px;
}
.btn-learn-more{
    background: none;
    color: var(--light--text--white);
    border: 1px solid var(--light--text--white);
    border-radius: 37px;
    padding: 15px 36px;
}
/* FIM DO MAIN */

/* COMEÇO DA SECTION BETTER-STATEGY */
.better-stategy{
    margin: 0px 231px 30px 231px;
}
.better-strategy-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 180.5px;
    margin-bottom: 24px;
}
.better-strategy-content h2{
    color: var(--light--text--white);
    width: 451px;
    text-transform: capitalize;
}
.better-strategy-content p{
    color: var( --text--color--grey);
    width: 470px;
    margin-top: 10px;

}
.better-stategy-blocks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.statety-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--light--text--white);
    padding: 35px 20px;
    border-radius: 2px;

}
.block-content{
    color: var(--light--text--white);
}
.block-content h3{
    margin-bottom: 5px;
    font-size: 16px;
}
.block-content p{
    width: 213px;
}
/* FIM DA SECTION BETTER-STATEGY */


